page-login {
  ion-content{
    section{
      position: fixed;
      bottom: 184px;
      padding: 10%;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
    }
    ion-item{
      background: transparent !important;
    }
    background: url(../assets/img/background/evening.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .invalid {
    border-bottom: 1px solid #ff6153;
  }

  .error-message {
    min-height: 2.2rem;
    p {
      font-size: 60%;
    }
    ion-label {
      margin: 2px 0;
    }
    .item-inner {
      border-bottom: 0 !important;
    }
  }
}
